.products {
    ul {
        list-style: none;

        li {
            img {
                width: 35px;
                max-width: 35px;
                height: auto;
            }
        }

        &.grid-view {
            &.transparent {
                li {
                    background: transparent !important;

                    a {
                        padding: 15px 5px 0;

                        span {
                            height: 40px;
                        }

                        i {
                            box-shadow: 0px 1px 7px rgb(139 145 162 / 25%);
                            padding: 20px;
                            border-radius: 10px;
                            font-size: 35px;

                        }

                        &:hover {
                            i {
                                box-shadow: inset 0px 1px 7px rgb(139 145 162 / 25%);
                            }
                        }
                    }
                }
            }

            li {
                width: 24%;

                box-shadow: var(--#{$prefix}card-box-shadow);
                text-align: center;
                margin: 0.5%;
                float: left;
                background: var(--#{$prefix}body-bg);
                justify-content: center !important;
                display: flex !important;
                align-items: center !important;

                @include media-breakpoint-down(xxl) {
                    padding: 15px 5px;
                    height: 150px;
                    justify-content: center !important;
                    display: flex !important;
                    align-items: center !important
                }

                [dir="rtl"] & {
                    float: right !important;
                }

                [theme-mode='dark'] & {
                    background: var(--#{$prefix}secondary-dark);
                    border: 1px solid var(--#{$prefix}dark-border-color);
                }

                a {
                    color: var(--#{$prefix}text-color);
                    text-decoration: none;
                    padding: 35px 5px;
                    width: 100%;

                    i {
                        font-size: 35px;
                    }

                    span {
                        padding-top: 10px;
                        display: block;
                        font-weight: 500;

                        [theme-mode='dark'] & {
                            color: var(--#{$prefix}white);

                            &:hover {
                                color: var(--#{$prefix}primary);
                            }
                        }
                    }

                    &:hover {
                        color: var(--#{$prefix}primary);
                    }
                }

            }

            @media (max-width: 1100px) {
                li {
                    width: 24%;
                }
            }

            @media (max-width: 992px) {
                li {
                    width: 32%;
                }
            }

            @media (max-width: 550px) {
                li {
                    width: 49%;
                }
            }
        }

        &.list-view {
            @include media-breakpoint-up(xxl) {

                &.list-view-sm {
                    li {
                        width: 24%;
                    }
                }
            }

            li {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 32.33333333%;
                box-shadow: var(--#{$prefix}card-box-shadow);
                margin: 0.5%;
                float: left;
                background: var(--#{$prefix}body-bg);
                display: flex !important;
                align-items: center !important;

                @include media-breakpoint-down(xxl) {
                    height: 85px;
                }

                @include media-breakpoint-down(xl) {
                    height: 100px;
                }

                @include media-breakpoint-down(lg) {
                    height: 85px;
                }

                [theme-mode='dark'] & {
                    background: var(--#{$prefix}secondary-dark);
                    border: 1px solid var(--#{$prefix}dark-border-color);
                }

                a {
                    color: var(--#{$prefix}text-color);
                    text-decoration: none;
                    position: relative;
                    display: flex !important;
                    align-items: center !important;
                    padding: 25px 15px;
                    width: 100%;

                    i {
                        font-size: 28px;
                    }

                    span {
                        display: block;
                        font-weight: 500;
                        font-size: $font-size-sm;
                        padding-left: 10px;
                        font-size: 16;

                        [theme-mode='dark'] & {
                            color: var(--#{$prefix}white);

                            &:hover {
                                color: var(--#{$prefix}primary);
                            }
                        }
                    }

                    &:hover {
                        color: var(--#{$prefix}primary);
                    }
                }
            }

            &.transparent {
                li {
                    background: transparent !important;
                    box-shadow: 0px 1px 6px rgb(139 145 162 / 15%);
                    border-radius: 4px;
                    padding: 0;

                    &:hover {
                        box-shadow: inset 0px 1px 6px rgb(139 145 162 / 15%);
                    }

                    a {
                        padding: 20px;

                        i {
                            font-size: 35px;
                        }
                    }
                }
            }

            @media (max-width: 1100px) {
                li {
                    width: 32%;
                }
            }

            @media (max-width: 992px) {
                li {
                    width: 49%;
                }
            }

            @media (max-width: 450px) {
                li {
                    width: 99%;
                }
            }
        }
    }
}

.favorite-tools {
    border: 1px dotted var(--#{$prefix}primary);
    padding: 30px;
    background: var(--#{$prefix}body-bg);

    [theme-mode='dark'] & {
        background: var(--#{$prefix}secondary-dark);
    }
}
