.favicon-generator {
    .favicon-select {
        text-align: center;

        ul {
            list-style: none;
            padding-left: none;
            padding-left: 0;

            li {
                // span {
                //     padding: 6px 10px;
                //     border-radius: 50%;
                // }
            }
        }
    }
}
