.meme-maker {
    background: var(--bs-secondary-dark);
}

.meme-editer {
    .align-btn {
        button {
            padding-left: 13px;
            padding-right: 13px;
            line-height: 1;
            margin-left: 8px;
            border: 1px solid var(--bs-border-color);

            [theme-mode='dark'] & {
                border: 1px solid var(--bs-dark-border-color);
            }
        }
    }

    .color {
        input {
            height: 41px;
            width: 42px;
            outline: none;
        }
    }

    .group-50 {
        display: flex;

        >div {
            &:first-child {
                margin-right: 4px;
            }

            &:last-child {
                margin-left: 4px;
            }
        }
    }

    .canvas-area {
        display: flex;
        flex-wrap: wrap;

        .canvas-image {
            width: 560px;
        }

        .controller {
            -webkit-box-flex: 1;
            flex: 1 0 0%;

            .input-group {
                button {
                    border-color: var(--bs-border-color);

                    [theme-mode='dark'] & {
                        border: 1px solid var(--bs-dark-border-color);
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }

        @include media-breakpoint-down(xl) {
            .canvas-image {
                width: 100%;
            }
        }
    }
}

.ul-form {
    padding: 15px 30px;

    [theme-mode='dark'] & {
        background: var(--bs-primary-dark);
        color: var(--bs-dark-text-color);
    }
}
