.hero-title {
    margin-bottom: 20px;
    position: relative;

    p {
        color: var(--#{$prefix}text-light);
    }

    h1,
    h2 {
        &::after {
            content: '';
            display: block;
            position: relative;
            height: 2px;
            width: 50px;
            background: var(--#{$prefix}primary);
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &.center {
        text-align: center;

        h1,
        h2 {
            &::after {
                content: '';
                left: 0;
                right: 0;
                margin: auto;
                margin-top: 15px;
            }
        }
    }

    &.vertical {
        float: left;
        writing-mode: vertical-lr;
        transition: all 0.2s ease;

        h1,
        .h1,
        h2,
        .h2 {
            &:after {
                height: 50px;
                width: 2px;
                margin-top: 0;
                writing-mode: vertical-lr;
                transition: all 0.2s ease;
                left: -30px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        text-align: center;

        h1::after,
        .h1::after,
        h2::after,
        .h2::after {
            margin: 15px auto;
        }
    }
}

.tool-favorite-btn {
    position: absolute;
    right: 15px;
    top: -5px;

    @include media-breakpoint-down(sm) {
            top: -40px;
            right: -5px;
        }

        button {
            @include media-breakpoint-down(sm) {
                   background: var(--#{$prefix}white);
                }
        }

    [dir="rtl"] & {
        right: auto;
        left: 0;
    }
}
